<div class="profile-hero-wrapper text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">編集フォーム</h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
