body {
  padding-top: 50px;
}
h1, h2, h3 {
  font-weight: 100;
}
.text-white {
  color: #fff;
}
.text-title {
  font-size: 35px;
  margin-bottom: 10px;
}
.btn-btn {
  text-decoration: none;
  border: 1px solid #16a085;
  padding: 10px;
  display: block;
  width: 200px;
  text-align: center;
  color: #ffff66;
  background-color: #ffff00;
  color: #000;
}
.btn-btn:hover {
  background-color: #0e6b59;
  border-color: #0e6b59;
}
.btn-solid {
  box-shadow: 0 6px 0 #29b664;
  position: relative;
  top: 0;
  -moz-transition: 100ms all linear;
  -o-transition: 100ms all linear;
  transition: 100ms all linear;
}
.btn-solid:hover {
  box-shadow: none;
  top: 6px;
}
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.users-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-default {
  background-color: #ffff00;
}
.navbar-transparent {
  margin-bottom: 0px;

  img {
    height: 40px;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
}
.topic-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .form-group {
    margin-bottom: 20px;
  }
}
.btn-black {
  color: #565656;
 border: 1px solid #565656;
 padding-top: 15px;
 padding-bottom: 15px;
 font-size: 20px;
 background-color: rgba(0,0,0,0.0);

 &:hover {
   color: #565656;
 }
}
.topic-index-wrapper {
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  .topic-index-single {
    background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    .topic-title {
      font-size: 20px;
    }
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
.profile-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .form-group {
    margin-bottom: 20px;
  }
}
.profile-index-wrapper {
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  .profile-index-single {
    background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .profile-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    .profile-title {
      font-size: 20px;
    }
    .profile-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    .profile-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
.comment-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .form-group {
    margin-bottom: 20px;
  }
}
