body {
  padding-top: 50px;
}
h1, h2 {
  font-weight: 100;
}
.text-white {
  color: #fff;
}
.btn-btn {
  text-decoration: none;
  border: 1px solid #16a085;
  padding: 10px;
  display: block;
  width: 200px;
  text-align: center;
  color: #ffff66;
  background-color: #ffff00;
  color: #000;
}
.btn-btn:hover {
  background-color: #0e6b59;
  border-color: #0e6b59;
}
.btn-solid {
  box-shadow: 0 6px 0 #29b664;
  position: relative;
  top: 0;
  -moz-transition: 100ms all linear;
  -o-transition: 100ms all linear;
  transition: 100ms all linear;
}
.btn-solid:hover {
  box-shadow: none;
  top: 6px;
}
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.users-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar-default {
  background-color: #ffff00;
}
.navbar-transparent {
  margin-bottom: 0px;

  img {
    height: 40px;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
}
